<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Shrikhand" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="{% static '/css/bootstrap4-retro.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap4-retro.css' %}">
  </head>
  <body>

    <h1>Test</h1>

  </body>
</html>
