<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/bootstrap4-retro.css' %}">

  </head>
<body class="ht-body ht-tm-retro">
  <div class="ht-tm-cat">


      <div class="ht-tm-codeblock">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary ht-tm-element">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#!"> The Wolves Car Rental</a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
              <li class="nav-item active">
                <a class="nav-link" href="#!">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">Testimonials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">Corporate Login</a>
              </li>

            </ul>

          </div>
        </nav>
      </div>
    </div> <!-- navigation -->

    <div class="container">

      <div class="ht-tm-codeblock ht-tm-btn">
        <div class="ht-tm-element card text-center">
          <div class="card-header">
            Customer Features
          </div>
          <div class="card-body">
            <h4 class="card-title">Car Recommendation</h4>
            <p class="card-text">Show me a car that I can rent immediately</p>
            <a href="#!" class="btn btn-primary">Recommend me a Car!</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Store Locations</h4>
            <p class="card-text">Find your preferred stores</p>
            <a href="#!" class="btn btn-primary">Locate Store!</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">View All Available Cars</h4>
            <p class="card-text">Show me all cars available to rent</p>
            <a href="#!" class="btn btn-primary">View All Cars!</a>
          </div>

        </div>
      </div>

      </div>



      <!-- Footer -->
      <!-- Footer -->
      <footer class="page-footer font-small blue fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          The Wolves Car Rental
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
<!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


  </body>

</html>
