<div id="wrapper">
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav" style="background-color :#00132c;" >
    <li class="nav-item active">
      <a class="nav-link" href="{%url 'corp_dashboard' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- Database Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="databaseDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-database"></i>
        <span>Database</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="databaseDropdown">
        <h6 class="dropdown-header">Views:</h6>
        <a class="dropdown-item" href="{%url 'display_branches_database' %}">Branch</a>
        <a class="dropdown-item" href="{%url 'display_vehicles_database' %}">Vehicles</a>
        <a class="dropdown-item" href="{%url 'display_customers_database' %}">Customers</a>
        <a class="dropdown-item" href="{%url 'display_orders_database' %}">Orders</a>

      </div>
    </li>

    <!-- Individual Item Report -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="individualReportDownDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-file-alt"></i>
        <span>Reports</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="individualReportDownDropdown">
        <h6 class="dropdown-header">Reports:</h6>
        <a class="dropdown-item" href="#">Branches</a>
        <a class="dropdown-item" href="#">Vehicles</a>
        <a class="dropdown-item" href="{%url 'customers_reports' %}">Customers</a>

      </div>

    </li>

    <!-- Comparison Report -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="comparisonReportDownDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-file-alt"></i>
        <span>Comparison Reports</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="comparisonReportDownDropdown">
        <h6 class="dropdown-header">Reports:</h6>
        <a class="dropdown-item" href="{%url 'comparisonbranch' %}">Branch Performance</a>
        <a class="dropdown-item" href="{%url 'vehicle_performance' %}">Vehicle Performance</a>


      </div>

    </li>




    <!-- Drill Down -->
    <li class="nav-item">
      <a class="nav-link" href="{%url 'branchDrillDown' %}">
        <i class="fas fa-fw fa-angle-double-down"></i>
        <span>Drill Down</span>
      </a>


    </li>

	      <!-- New Customer -->
    <li class="nav-item">
      <a class="nav-link" href="{%url 'addCustomer' %}">
        <i class="fas fa-plus"></i>
        <span>New Customer</span>
      </a>


    </li>

	      <!-- Vehicle Status -->
    <li class="nav-item">
      <a class="nav-link" href="{%url 'updateVehicleStatus' %}">
        <i class="fas fa-plus"></i>
        <span>Vehicle Status</span>
      </a>


    </li>
	      <!-- Customer Stats -->
    <li class="nav-item">
      <a class="nav-link" href="{%url 'customerStats' %}">
        <i class="fas fa-plus"></i>
        <span>Customer Stats</span>
      </a>


    </li>
    <!-- Logout-->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout'%}">
        <i class="fas fa-fw fa-sign-out-alt"></i>
        <span>Logout</span>
      </a>


    </li>


    <li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
    </li>
  </ul>
