{% extends 'web/base/base.html' %}

{% block content %}
<div class="container">
  <div class="ht-tm-cat">
    <div class="ht-tm-codeblock">
    </br>
    <h5 style="text-align:center;">Search Result</h5>
    <div class="form-group">
      {{filterForm}}
    </div>
  </br>

  <table class="table table-hover table-striped ht-tm-element" id = "recommendation-results-table"
  sort-location-url = "{% url 'ajax_sort_location' %}">
  <thead class="thead-dark">
    <tr>
      <th>Car Name</th>
      <th>Seat Capacity</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    {% for car in cars %}
    <tr class = "clickable-row" data-href = "../specification/{{ car.vehicleid }}">

      <td>  {{car.make}} {{car.model}} {{car.series}}  </td>
      <td>{{car.seatcapacity}}</td>
      <td>{{car.latest_order.returnstore.city}}</td>
    </tr>
    {% endfor %}
    <script>
    jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
        window.location = $(this).data("href");
      });

      $(".clickable-row").hover(function() {
        $(this).css( 'cursor', 'pointer' );

      });
    });
    </script>
    <script>
    $(document).ready(function(){
      $("#location-queries, #seat-queries").change(function () {
        var url = $("#recommendation-results-table").attr("sort-location-url");
        var location = $("#location-queries").val();
        var findState = $("#location-queries").find("option:nth-child(2)").val();
        var seat = $("#seat-queries").val();

        $.ajax({
          url: url,
          data: {
            'location':location,
            'findState':findState,
            'seat':seat,
          },
          success:function(data) {
            $("#recommendation-results-table").html(data);
          },
        });
      });
    });
    </script>
  </tbody>
</table>
</div>

</div>

</div>


{% endblock %}
